.directory-list li {
    list-style-type: "\1F4C1";
    padding-left: 5px;
}

.question-list li {
    list-style-type: "\2753";
    padding-left: 5px;
}

.t-logo .e,
.t-logo .E {
    display: inline-block;
    font-size: 87%;
    line-height: 0;
    text-transform: uppercase;
    vertical-align: -.45ex;
}
.t-logo .e {
    margin-left: -.2em;
    margin-right: -.1em;
}
.t-logo .y {
    display: inline-block;
    line-height: 0;
    margin-left: -.2em;
    margin-right: -.1em;
    text-transform: uppercase;
    vertical-align: -.35ex;
}
.t-logo .E {
    margin-left: -.1em;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    vertical-align: -.45ex;
}
.t-logo a .e,
.t-logo a .e:hover,
.t-logo a .E,
.t-logo a .x {
    text-decoration: none;
}
.t-logo .a {
    font-size: 75%;
    margin-left: -.36em;
    margin-right: -.125em;
    text-transform: uppercase;
    vertical-align: .45ex;
}
.t-logo .t {
    margin-left: -.15em;
}
.t-logo .T {
    margin-left: -.1em;
}
.t-logo .x {
    font-size: 92%;
    line-height: 0;
    margin-left: -.01em;
    margin-right: -.01em;
    vertical-align: -.49ex;
}
.t-logo .sc {
    font-variant: small-caps;
}
.cal-logo,
.t-logo {
    white-space: nowrap;
}
